<div class="modal fade center" id="addType" tabindex="-1" role="dialog" aria-labelledby="addTypeLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content card-body">

            <div class="modal-header">
                <h5 class="modal-title">Add a new type</h5>
                <button type="button" class="close" id="closeAddType" data-dismiss="modal" aria-label="Close" data-toggle="tooltip"
                    data-placement="top" title="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!--END class="modal-header"-->
            <div class="modal-body">
                <form [formGroup]="typeForm" (ngSubmit)="onSubmit()" #formControl="ngForm">

                    <div class="form-group row  text-left">
                        <label for="name" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control border margin" id="name" formControlName="name"
                                required>
                        </div>
                    </div>
                    <!--END class="form-group row  text-left"-->

                    <div class="form-group row  text-left">
                        <label for="price" class="col-sm-3 col-form-label">Price</label>

                        <div class="col-sm-9">
                            <input type="number" class="form-control border margin" id="price" formControlName="price"
                                min="0" required>
                        </div>
                        <!--END class="col-sm-10"-->
                    </div>
                    <!--END class="form-group row  text-left"-->

                    <div class="form-group row text-left ">
                        <label for="regular" class="col-sm-3 col-form-label">Is regular</label>
                        <div class="col-sm-9">
                            <input class="form-check-input border margin margin-checkbox" type="checkbox" id="regular"
                                formControlName="regular" value="0">
                        </div>
                        <!--END class="col-sm-8"-->
                    </div>
                    <!--END class="form-group row  text-left" -->

                    <button type="button" class="btn btn-primary" [type]="submit" [disabled]="!formControl.valid"
                        data-toggle="tooltip" data-placement="top" title="Add"> AddType
                    </button>
                </form>
            </div>
            <!--END class="modal-body"-->

        </div>
        <!--END class="modal-content"-->

    </div>
    <!--class="modal-dialog"-->

</div><!-- END class="modal fade center" -->