<br><br><div class="container resetPassword">
    <div class="card">
        <h4 class="card-header">Reset your password</h4>
        <div class="card-body">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password" class="form-control" />
                    <span *ngIf="!resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched"
                        class="help-block">
                        Please enter password. Password must be at least 6 characters.
                    </span>
                </div>
                <div class="form-group">
                    <label for="passwordRepeat">Repeat your password</label>
                    <input type="password" id="passwordRepeat" formControlName="passwordRepeat" class="form-control" />
                    <span
                        *ngIf="!resetPasswordForm.get('passwordRepeat').valid && resetPasswordForm.get('passwordRepeat').touched"
                        class="help-block">
                        Please enter password. Password must be at least 6 characters.
                    </span>
                </div>

                <button class="btn btn-primary" type="submit" [disabled]="!resetPasswordForm.valid" data-toggle="tooltip"
                    data-placement="top" title="Sign up">Reset</button>
            </form><br>
        </div>
    </div>
</div>